{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block user_title %}Установка нового пароля{% endblock %}

{% block user_header %}Установка нового пароля{% endblock %}

{% block user_content %}
{% if validlink %}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Изменить пароль</button>
        </div>
    </form>
{% else %}
    <div class="text-center">
        <p class="text-danger mb-4">Ссылка для сброса пароля недействительна. Возможно, она уже была использована.</p>
        <p>Пожалуйста, запросите новую ссылку для сброса пароля.</p>
        <a href="{% url 'users:password_reset' %}" class="btn btn-primary">Запросить новую ссылку</a>
    </div>
{% endif %}
{% endblock %} 