{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block user_title %}Сброс пароля{% endblock %}

{% block user_header %}Сброс пароля{% endblock %}

{% block user_content %}
<p class="text-center mb-4">Введите ваш email для получения инструкций по сбросу пароля.</p>
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Отправить</button>
    </div>
</form>
<div class="text-center mt-3">
    <p><a href="{% url 'users:user_login' %}">Вернуться на страницу входа</a></p>
</div>
{% endblock %} 